.navList {
  display: flex;
  gap: 1rem;

  a {
    text-decoration: none;
    color: #222;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 1rem 1.4rem;
    background-color: #E0E1DD;
    border-radius: 4px;
  }

  a:hover {
    background-color: #FFF;
    outline: 2px #778DA9 solid;
  }
}
