.navBar {
  display: flex;
}

.navContainer {
  display: flex;
  height: auto;
  align-items: center;
}

.navList {
  display: flex;
  gap: 1.4rem;
  align-content: center;
  height: max-content;

  a {
    display: block;
    color: var(--c-yw);
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    padding: 1rem 0;
    background-color: var(--c-b1);
    border-radius: 4px;
    font-weight: 600;
    position: relative;
  }

  a:hover {
    color: var(--c-0);
  }

  a::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--c-0);
    margin-top: 10px;
    position: absolute;
    transition: 0.5s;
  }

  a:hover::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--c-0);
    margin-top: 10px;
    position: absolute;
  }
}

.menu {
  display: none;
  padding: .7rem 1rem;
  font-family: 'Poppins', serif;
  font-weight: 600;
  background-color: var(--c-yw);
  border-radius: 4px;
  align-items: center;
  place-self: center;
}

.menu::before {
  content: '';
  width: 16px;
  height: 2px;
  margin-right: 5px;
  background-color: var(--c-b1);
  display: inline-block;
  box-shadow: 0 4px var(--c-b1), 0 -4px var(--c-b1);
  transition: .2s;
}

@media (max-width: 800px) {
  .navList {
    gap: 1rem;

    a {
      font-size: .7rem;
    }
  }
}

@media(max-width: 600px) {
  .navBar {
    grid-row: 1;
    place-self: center;
    justify-self: start;
    position: relative;
  }

  .menu {
    display: flex;
  }

  .menu.active::before {
    transform: rotate(90deg);
  }

  .navContainer {
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 200;
    top: 100%;
    width: 160px;
    flex-direction: column;
  }

  .navContainer.active {
    display: block;
  }

  .navList {
    gap: 0;
    padding: 0;
    flex-direction: column;
    background-color: var(--c-1);
    a {
      border-radius: 0;
      text-align: center;
      background-color: var(--c-1);
    }

    a:hover::after {
      background-color: var(--c-y);
      height: 3px;
    }

    a::after {
      width: 100%;
      height: 3px;
    }
  }

  .navList::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--c-1);
  }
}
