:root {
  --c-0: #FFFFFF;
  --c-1: #222222;
  --c-2: #121214;
  --c-yw: #fdfcdc;
  --c-y: #ffcd1e;
  --c-yo: #EEAA1E;
  --c-p: #ff008e;
  --c-po: #ee004a;
  --c-b1: #0D1B2A;
  --c-b2: #1b263b;
  --c-b3: #0081a7;
}
