.headerContainer {
  display: flex;
  justify-content: space-around;
  background-color: #0D1B2A;
  width: 100%;
  box-sizing: border-box;

  h1 {
    font-size: 2rem;
    color: #fdfcdc;
    display: flex;
    align-items: center;
  }
}