.headerContainer {
  display: flex;
  justify-content: space-around;
  background-color: #0D1B2A;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 120px;

  h1 {
    font-size: 2rem;
    color: #fdfcdc;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .headerContainer {
    padding: 2.5rem;

    h1 {
      display: none;
    }
  }
}
