.cardSection {
  flex-shrink: 0;
  width: 70%;
  margin: 0 15%;
  border-radius: 5px;
  background-color: var(--c-b1);

  .cardContainer {
    position: relative;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: var(--c-y);
    border-radius: 5px;
    width: 40%;
    margin: 1rem auto;

    span {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;

      &:focus {
        outline: none;
        outline-style: none;
      }

      .deployed {
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: #3D3;
        border-radius: 50%;
        border: 1px solid var(--c-b1);
      }

      .notDeployed {
        display: block;
        width: 1rem;
        height: 1rem;
        background-color: #F33;
        border-radius: 50%;
        border: 1px solid var(--c-b1);
      }
    }

    h2 {
      padding: 20px 0 0 0;
      text-align: center;
      font-family: "Poppins";
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    p {
      font-size: .9rem;
      max-width: 35ch;
      padding: 0 1rem;
      font-family: "Poppins";
      color: var(--c-2);
      min-height: 150px;
      align-self: center;
    }

    .containerLinks {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 3rem;
      margin-bottom: 10px;

      h4 {
        font-family: "Poppins";
        font-size: 12px;
        color: var(--c-0);
        padding: .4rem .6rem;
        border-radius: 5px;
        background-color: var(--c-p);
        cursor: pointer;
      }

      a {
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .cardSection {
    width: 80%;
    margin: 0 10%;

    .cardContainer {
      width: 60%;

      p {
        max-width: 46ch;
      }
    }
  }
}

@media (max-width: 800px) {
  .cardSection {
    .cardContainer {
      h2 {
        font-size: 1.2rem;
      }

      p {
        max-width: 37ch;
        font-size: .8rem;
      }
    }
  }
}

@media (max-width: 600px) {
  .cardSection {
    width: 90%;
    margin: 1.5rem 5% 0 5%;
    .cardContainer {
      p {
        max-width: 32ch;
        font-size: .750rem;
        padding: .7rem 10px;
      }
      .containerLinks {
        padding: 0 15% .7rem 15%;
      }
    }
  }
}

@media (max-width: 400px) {
  .cardSection {
    .cardContainer {
      p {
        max-width: 22ch;
        font-size: .650rem;

      }
  }
}
}

