.container {
  overflow: hidden;
  flex-wrap: nowrap;
  
  .wrapper {
    background-color: var(--c-b1);
  }

  .content {
    display: flex;
    border-radius: 5px;
    margin: 0 5rem;
    box-shadow: 200px 0 var(--c-b3), -200px 0 var(--c-b3);
    transition: transform 0.3 ease;
  }

  .slideButtons {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;

    button {
      margin-top: 10px;
      color: var(--c-1);
      background-color: var(--c-y);
      padding: .8rem .4rem;
      font-weight: 600;
      border-radius: 5px;
      &:hover {
        background-color: var(--c-yo);
        color: var(--c-2);
      }

      &:disabled {
        cursor: default;
        opacity: 0;
      }
    }
  }
}
