.footerContainer {
  background-color: #ffcd1e;
  width: 100%;
  display: flex;
  gap: .7rem;
  height: 100px;
  padding: 1rem;
  box-sizing: border-box;
  justify-content: space-evenly;
  align-items: center;
  place-self: end;
  font-family: 'Poppins', sans-serif;
  
  .emails {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
  }

  h3::before {
    content: '';
    width: 14px;
    height: 8px;
    display: inline-block;
    background-color: var(--c-2);
    margin-right: 8px;
    border-radius: 3px;
  }

  .copy {
    font-size: 1rem;
    font-weight: bold;
  }

  .copy::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--c-2);
  }

  ul {
    width: 100%;
    display: flex;
    gap: .7rem;
    justify-content: center;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 800px) {
  .footerContainer {
    .emails {
      gap: 8px;
    };

    h3 {
      font-size: .6rem;
    };

    .copy {
      font-size: .6rem;
    }
  }
}

@media (max-width: 550px) {
  .footerContainer {
    nav[aria-label="redes-sociais"] ul {
      display: grid;
      grid-template-columns: auto auto;
    };

    .emails {
      h3 {
        font-size: .4rem;
      };
    };
  
    .copy {
      font-size: .4rem;
    };
  };
};

@media (max-width: 350px) {
  .footerContainer {
    display: grid;
    grid-template-columns: auto;
    height: max-content;
    gap: 20px;

    nav[aria-label="redes-sociais"] {
      grid-row: 1;
      ul {
        display: grid;
        grid-template-columns: repeat(4, auto);
      };
    };

    .emails {
      h3 {
        font-size: .6rem;
      };
    };

    .copy {
      font-size: .6rem;
      grid-row: 3;
      text-align: center;
    };
  };
};
