.presentationSection {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  max-width: 900px;
  max-height: 600px;
  gap: 2rem;
  padding: 2rem;

  article {
    display: grid;
    gap: 1rem;
    background-color: var(--c-b3);
    padding: 2rem;
    border-radius: 4px;

    h2 {
      font-size: 1.8rem;
      color: var(--c-y);
      font-family: 'Montserrat';
    }

    p {
      font: var(--f-m-pop);
      font-family: monospace;
      font-size: .85rem;
      letter-spacing: .09rem;
      color: var(--c-b1);

      a {
        color: var(--c-p);
        font-weight: 700;
      }
      a:hover {
        color: var(--c-po);
      }
    }

    .projects {
      padding: .6rem 1.2rem;
      text-transform: uppercase;
      background-color: var(--c-y);
      place-self: end;
      color: var(--c-2);
      border-radius: 4px;
      letter-spacing: 0.07rem;
      font-family: 'Poppins';
      font-weight: bold;
    }

    .projects:hover {
      background-color: var(--c-yo);
    }
  }
  
  .separator {
    content: "";
    display: inline-block;
    width: 2px;
    height: 100%;
    background-color: var(--c-b3);
  }

  .selfImage {
    display: flex;
    background: linear-gradient(10deg, var(--c-p) 0%, var(--c-y) 100%);
    border-radius: 50%;
    line-height: 0;
    width: calc(18rem);
    height: calc(18rem);
    align-items: center;
    justify-content: center;

    img {
      width: calc(100% - .9rem);
      height: calc(100% - .9rem);
      border-radius: 50%;
      border: 4px solid var(--c-2);
    }
  }
}

@media (max-width: 750px) {
  .presentationSection {

    article {
      h2 {
        font-size: 1.2rem;
      };

      p {
        font-size: .7rem;
      };
    };
  };
};

@media (max-width: 600px) {
  .presentationSection {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 1.5rem;

    article {
      grid-template-columns: 1fr 1fr;
      padding: 1.5rem;

      h2 {
        font-size: 1rem;
        grid-column: 1 / -1;
      };

      p {
        grid-row: 2 / 3;
        max-width: 28ch;
      };

      .projects {
        grid-row: 2;
      };
    };

    .selfImage {
      justify-self: center;
      grid-row: 1;
    };
  };
};

@media (max-width: 380px) {
  .presentationSection {
    article {
      grid-template-columns: repeat(3, 1fr);

      h2 {
        grid-column: 1 / -1;
      };

      p {
        grid-column: 1 / 3;
      };

      .projects {
        grid-column: 3;
        font-size: .6rem;
      };
    };
  };
};