.projectIcon {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background-color: var(--c-y);
  border-radius: 50%;
  box-sizing: border-box;
}

:global(.activeIcon) {
  border: solid 1px #222;
  background-color: var(--c-p);
}