.wrapper {
  display: grid;
}

.img {
  display: block;
  max-width: 100%;
  grid-area: 1/1 ;
  opacity: 0;
  transition: .2s;
}

.skeleton {
  border-radius: 4px;
  grid-area: 1/1;
  height: 100%;
  background-image: linear-gradient(90deg, var(--c-b1) 0px, #1E2C3B  50%, var(--c-b1) 100%);
  background-color: var(--c-b1);
  background-size: 200%;
  animation: skeleton 1.5s infinite linear;
}

@keyframes skeleton {
  from {
    background-position: 0px;
  }

  to {
    background-position: -200%;
  }
}